logs/
*.log
env/
*.env
licenseserver-setup/idol_docker_key.txt
licenseserver-setup/LicenseServer_25.3.0_LINUX_X86_64/licenseserver.lck
licenseserver-setup/LicenseServer_25.3.0_LINUX_X86_64/licensekey.dat
licenseserver-setup/LicenseServer_25.3.0_LINUX_X86_64/uid/
licenseserver-setup/LicenseServer_25.3.0_LINUX_X86_64/license/
source_persistent_data_path/