# ==============================
# === Updated by: Oren Attia
# ==============================

# Registry to obtain images from
IDOL_REGISTRY=microfocusidolserver
# Version of IDOL images to use
IDOL_SERVER_VERSION=SETUP-SERVER-VERSION-PLACEHOLDER
IDOL_DATA_ADMIN_VERSION=SETUP-DATA-ADMIN-VERSION-PLACEHOLDER

# Http proxy used to download updates
HTTP_PROXY=
# External licenserver host
LICENSESERVER_IP=HOST-IP-PLACEHOLDER
# Directory on the host in which the configuration of the running services will be available
MMAP_CONFIG_DIR=./config
# Directory on the host where files can be stored to provide MMAP with access to them
MMAP_DATA_DIR=./data
# The below configuration should be left as it is
MMAP_DIR=/mmap

############################################
## Secure Password Environment Variables  ##
############################################
# Below are the certificate passwords provided for demo use. Use them only if validation is required.
# IDOL_CERT_KEYSTORE_PASS=CERT-KEYSTORE-PASS-PLACEHOLDER
# IDOL_CERT_TRUSTSTORE_PASS=CERT-TRUSTSTORE-PASS-PLACEHOLDER
IDOL_UI_SSL_CA_PASS="CERT-KEYSTORE-PASS-PLACEHOLDER"

############################################
## Customized Environment Variables Setup ##
############################################
# Add any additional environment variables below this line
#IDOL_MEDIA_INSTALL=FALSE
#IDOL_ENABLE_SSL-SAMPLE=FALSE
#IDOL_PRESERVE_CONTENT_PATH-SAMPLE="/opt/idol/persistent-data/content"