[License]
LicenseServerHost=LICENSESERVER-FQDN-PLACEHOLDER
LicenseServerACIPort=20000
LicenseServerTimeout=60000
LicenseServerRetries=1
SSLConfig=LicenseSSL

[LicenseSSL]
SSLMethod=Negotiate
SSLCACertificate=/ssl/certs/ca-chain.cert.pem
SSLVerifyClient=0

//--------------------------- Authorization Roles ----------------------------//
[AuthorizationRoles]
0=AdminRole
1=QueryRole
2=IndexRole

[AdminRole]
StandardRoles=admin,servicecontrol,query,servicestatus
Clients=*.*.*.*

[QueryRole]
StandardRoles=query,servicestatus
Clients=*.*.*.*

[IndexRole]
StandardRoles=index
Actions=getpid,getstatus,indexergetstatus
ServiceActions=getstatusinfo
Clients=*.*.*.*

[Service]
ServicePort=DA_QMS_SRV_PLACEHOLDER
useeventlog=false

[Server]
Port=DA_QMS_ACI_PLACEHOLDER
SSLPort=DA_QMS_ACI_PLACEHOLDER
SSLConfig=ServerSSL
SSLEnable=True
indexport=DA_QMS_IDX_PLACEHOLDER

[ServerSSL]
SSLMethod=Negotiate
SSLCertificate=/ssl/certs/idol-qms.cert.pem
SSLPrivateKey=/ssl/certs/idol-qms.key.pem
#SSLCACertificate=/ssl/certs/ca-chain.cert.pem
SSLVerifyClient=0

[IDOL]
Host=idol-passageextractor-content
Port=DA_PASSAGEEXTRATOR_CONTENT_ACI_PLACEHOLDER
SSLPort=DA_PASSAGEEXTRATOR_CONTENT_ACI_PLACEHOLDER
SSLConfig=BackendSSL

[PromotionAgentStore]
Host=idol-qms-agentstore
Port=DA_QMS_AGENTSTORE_ACI_PLACEHOLDER
SSLPort=DA_QMS_AGENTSTORE_ACI_PLACEHOLDER
SSLConfig=BackendSSL

[BackendSSL]
SSLMethod=Negotiate
SSLCACertificate=/ssl/certs/ca-chain.cert.pem
SSLVerifyClient=0

[Logging]
LogDirectory=./logs
LogTime=True
LogEcho=True
LogLevel=full
LogMaxSizeKBs=1024
OldLogFileAction=datestamp
0=applicationLogStream
1=actionLogStream

[applicationLogStream]
LogFile=app.log
LogTypeCSVs=application

[actionLogStream]
LogFile=action.log
LogTypeCSVs=query