[License]
# Replace LicenseServerHost with address of a License Server before using Media Server.
LicenseServerHost=LICENSESERVER-FQDN-PLACEHOLDER
LicenseServerACIPort=20000
LicenseServerTimeout=60000
LicenseServerRetries=1
SSLConfig=LicenseSSL

[LicenseSSL]
SSLMethod=Negotiate
SSLCACertificate=/ssl/certs/ca-chain.cert.pem
SSLCheckCertificate=False

[Channels]
# Set the values to specify exact quantities of license channels to reserve, covered by License Server specified in [License] section above.
# Make sure enough license channels are available to cover [Process] MaximumThreads value below.
# VisualChannels=0
# SurveillanceChannels=0
# AudioChannels=0
# VideoManagementChannels=1

[Service]
ServicePort=RM_MEDIASERVER_SRV_PLACEHOLDER
SSLEnable=true
SSLServicePort=RM_MEDIASERVER_SRV_SSL_PLACEHOLDER
SSLCertificateFile=/ssl/certs/idol-mediaserver-fullchain.cert.pem
SSLPrivateKeyFile=/ssl/certs/idol-mediaserver.key.pem
Access-Control-Allow-Origin=*
UseEventLog=false

[Server]
Port=RM_MEDIASERVER_ACI_PLACEHOLDER
SSLEnable=true
SSLPort=RM_MEDIASERVER_ACI_SSL_PLACEHOLDER
SSLCertificateFile=/ssl/certs/idol-mediaserver-fullchain.cert.pem
SSLPrivateKeyFile=/ssl/certs/idol-mediaserver.key.pem
SSLCACertificate=/ssl/certs/ca-chain.cert.pem
SSLCheckCertificate=False
# Maximum number of synchronous requests that server can process simultaneously
Threads=4
XSLTemplates=True
MaxFileUploadSize=-1
StrictActionValidation=true
AllowedOutputDirectoryCSVs=output

[Actions]
MaxFinishedSize=1000
# Maximum number of asynchronous actions that can be processed simultaneously
MaximumThreads=1
# Enabling this does not give significant performance gains for Media Server
UseInMemoryDatastore=False

[AuthorizationRoles]
0=AdminRole
1=QueryRole

[AdminRole]
StandardRoles=admin,servicecontrol,query,servicestatus
Clients=*.*.*.*
#SSLIdentities=
#GSSPrincipals=

[QueryRole]
StandardRoles=query,servicestatus
Clients=*.*.*.*
#SSLIdentities=
#GSSPrincipals=

[Paths]
# Local files will not be processable by Media Server unless this parameter is set
AllowedInputDirectories=
AllowedEngineOutputDirectories=output
ConfigDirectory=configurations
DatabasePath=mediaserver.db
FFmpegDirectory=libs
KeyViewDirectory=export
LibHeifDirectory=libs
LuaDirectory=configurations/lua
RollingBufferConfigPath=encoding/rollingBuffer/rollingBuffer.cfg
SceneAnalysisTrainingDirectory=SceneAnalysis/SceneAnalysisTrainingCfgs
SceneAnalysisAlarmDirectory=SceneAnalysis/Alarms
XslDirectory=configurations/xsl

[Resources]
IDOLServer=localhost:9000/News

[Modules]
Enable=audiocategorize,audiomatch,barcode,clusterspeech,demographics,facedetect,facestate,facerecognize,imageclassification,imagecomparison,imageembedding,imagehash,languageid,numberplate,objectclassrecognition,objectrecognition,ocr,personanalysis,speakerid,speechtotext,vehiclemodel,videomatch,visualclustering

[Database]
DatabaseType=internal
SyncInterval=10s

[Process]
# Maximum number of Process actions that will be run simultaneously (overrides value in [Actions], above).
# Increase to match available channels, which are listed in [Channels] section.
MaximumThreads=1

[Logging]
LogLevel=NORMAL
LogHistorySize=0
LogTime=true
LogEcho=true
LogMaxSizeKBs=20480
LogExpireAction=compress
LogMaxOldFiles=100
0=APP_LOG_STREAM
1=ACT_LOG_STREAM
2=ENGINE_LOG_STREAM
3=INGEST_LOG_STREAM
4=AUDIO_ANALYSIS_LOG_STREAM

[APP_LOG_STREAM]
LogFile=application.log
LogTypeCSVs=application

[ACT_LOG_STREAM]
LogFile=action.log
LogTypeCSVs=action

[ENGINE_LOG_STREAM]
LogFile=engine.log
LogTypeCSVs=engine

[INGEST_LOG_STREAM]
LogLevel=ERROR
LogEcho=false
LogFile=ingest.log
LogTypeCSVs=ingest

[AUDIO_ANALYSIS_LOG_STREAM]
LogEcho=false
LogFile=audioanalysis.log
LogTypeCSVs=audioanalysis
