# ==============================
# === Updated by: Oren Attia
# ==============================

# Registry to obtain images from
IDOL_REGISTRY=microfocusidolserver
# Version of IDOL images to use
IDOL_SERVER_VERSION=SETUP-SERVER-VERSION-PLACEHOLDER
IDOL_DATA_ADMIN_VERSION=SETUP-DATA-ADMIN-VERSION-PLACEHOLDER

# Http proxy used to download updates
HTTP_PROXY=
# External licenserver host
LICENSESERVER_IP=HOST-IP-PLACEHOLDER

#########################################################
## Secure Password Environment Variables               ##
#########################################################
# Below are the certificate passwords provided for demo use. Use them only if validation is required.
# IDOL_CERT_KEYSTORE_PASS=CERT-KEYSTORE-PASS-PLACEHOLDER
# IDOL_CERT_TRUSTSTORE_PASS=CERT-TRUSTSTORE-PASS-PLACEHOLDER
IDOL_UI_SSL_CA_PASS="CERT-KEYSTORE-PASS-PLACEHOLDER"

#########################################################
## Path to data to pre-populate the factbank databases ##
#########################################################
# Should point to directory containing `codings.sql` and `facts.sql`
# "empty" provides empty codings and facts databases
INITIAL_FACTBANK_DATA=../common-files/factbank-postgres/dataadmin-factbank-data/empty

#################################################################
## RAG System parameters for Knowledge Discovery Answer Server ##
#################################################################
#IDOL_LLM_ENDPOINT=http://${IDOL_NET_GUEST_IP}:11434/api/chat
IDOL_LLM_ENDPOINT=http://ollama:11434/api/chat
IDOL_LLM_MODEL=${IDOL_LLM_MODEL_NAME}
HF_TOKEN=${HF_TOKEN}

#########################################################
## Path to data to host mount folder for NiFi          ##
#########################################################
IDOL_HOST_STORAGE_PATH=${IDOL_HOST_STORAGE_PATH}
